@using Newtonsoft.Json.Linq
@model JToken

@if (Model != null)
{
    <div class="row row-cols-1 row-cols-md-3 g-4">

        @foreach (var film in Model)
        {
            <div class="col">
                <div class="card h-100">
                    <img height="550" src="@film["posterUrlPreview"]" class="card-img-top" alt="@film["nameEn"]">
                    <div class="card-body">
                        <h5 class="card-title">@film["nameRu"]</h5>
                        <p class="card-text">@film["country"]</p>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No films available</p>
}